/* Personal Code */

/* Setting up Fonts */
@font-face{
font-family:photoshoot;
src: url(assets/photoshoot.ttf);
}

/* Setting the body up colors, and alignments */
body{
    background-color: #00A8E8;

    width: 100vw;
    display: grid;
    align-content: center;
    justify-content: center;
}

img{
    max-width: 1000px;
    width: 85vw;
    max-height: 75vh;
}

/* Documentation Link mad to look like a bouncing blueberry*/
#blueBerry{
    position: absolute;
    margin: 20px;
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 20px;
    background-color: #007EA7;

    
    display: grid;
    justify-content: center;
    align-items: center;
    
    font-family:photoshoot;
    font-size: 20px;
    color: #1E3888;
}

/* Name Grid Sections */
#centered { grid-area: centered; }
#info { grid-area: info; }

/* Centering everything */
#wrapper{
    height: 100vh;
    width: inherit;

    display: grid;
    grid-template-areas:
    'centered'
    'info';

    align-content: center;
    justify-content: center;
    grid-template-rows: 80vh 1fr;
}

#centered{
    display: grid;
    justify-content: center;
    align-items: center;
}

#info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Have all the buttons spaced well and look nice */
#modes{
    padding: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

button{
    padding-top: 4px;
    font-family:photoshoot;
    font-size: 20px;
    width: 115px;
    height: 50px;

    border: none;
    border-radius: 20px;
    background-color: #007EA7;
    color: #1E3888;
}

/* Header design */
#info h2{
    font-family:photoshoot;
    font-size: 40px;
    color: #1E3888;
}

/* When at Ipad or smaller */
@media screen and (max-width: 768px) {
    
    #wrapper{
    grid-template-rows: 60vh 1fr;
    }

img{
    width: 98vw;
    
}

#modes{
    flex-direction: column;
    align-content: space-between;
}

button, #info h2{
    font-size: 20px;
}

}