html{
 background-color: darkseagreen;
 margin-left: 5%;
 margin-right: 5%;
 margin-top: 2%;
 color: #EAE8FF;
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

#container {
    background-color: #2D3142;
    overflow: auto;
    border-radius: 40px;

}

#face img {
    float: left;
    width: 10%;
    height: 10%;
    margin: 2%;
    margin-left: 3%;
    border-radius: 20%;
    border: 2px solid #EAE8FF;
}

#lists{
    margin-top: 3%;
    border-radius: 20px;
    background-color: #274029;
    overflow: auto;
    line-height: 2.3;
}

#leftList {
    float: left;
    width: 50%;
}

#rightList {
    float: left;
}