/* No outlines!!! */
*{
    outline:0;
}
/* Centers the Body */
body {
    overflow: hidden;
    background-color: #00A8E8;

    width: 100vw;
    display: grid;
    align-content: center;
    justify-content: center;
}

/* Name Grid Sections */
aside {
    grid-area: aside;
}

main {
    grid-area: main;
}

#matchPuzzle {
    grid-area: puzzle;
}

/* Center everything inside the body */
#wrapper {
    height: 100vh;
    width: inherit;

    display: grid;
    grid-template-areas:
        'aside main';

    align-content: center;
    justify-content: center;
    grid-template-columns: 230px 1fr;
    grid-template-rows: 100vh;
}

/* Push Match stuff to the bottom and back button to the top */
aside {
    display: grid;
    align-content: space-between;
    justify-content: center;
    grid-template-columns: 100%;
    max-height: 100vh;

}

/* Give the back button some breathing room */
#back {
    padding: 20px;
}

/* Setting the Claw for page 1 */
#claw {
    padding-left: 10px;
    width: 230px;
    z-index: 1;
}


/* Setting Up the Match Sticks Position */
#matchStick {
    position: absolute;
    padding-left: 10px;
    width: 230px;
    z-index: 3;
    bottom: 35vh;
}

#match {
    z-index: 4;
    position: relative;
    left: 40%;
}

/* Flame is below the match */
#flame {
    z-index: 3;
    position: relative;
    bottom: 188px;
}



/* Center the Bomb and friends */
main {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

}

#bombSquad {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    z-index: 1;
}

/* Spot that must be reached for fuse to light */
#fuseSpot {
    position: relative;
    top: 260px;
    right: 50px;
    width: 122px;
    height: 100px;
}

/* Keep all the bombs the same height so I dont have to move the fuse */
#theBomb {
    height: 516px;
}

/* Hidden Fuse that will apear when lit */
#fuse {
    display: none;
}

/* Big red button to press after Fuse is lit, used in page 1*/
#bigRed {
    position: relative;
    z-index: 2;
    border: 0;
    left: 280px;
    top: 20px;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    background-color: #721121;
}

/* Mobile Stuff */
/* Most of my stuff doesn't work for mobile. So it's all displaying none*/
/* And replacing it with a bouncing font */

@font-face {
    font-family: photoshoot;
    src: url(/interactive/assets/photoshoot.ttf);
}

/* Mobile Background */
#mobile {
    z-index: 5;
    width: 100vw;
    height: 100vh;
    background-color: #C1292E;

    display: none;
    justify-content: center;
    align-items: center;
}

/* Sorry Text */
#mobile h1 {
    width: 90vw;
    color: #721121;
    font-family: photoshoot;
    font-size: 20px;
    text-align: center;
    line-height: 2.5rem;
}

/* here's where we actualy Hide Wrapper and show mobile */
@media screen and (max-width: 1100px) {
    #wrapper {
        display: none;
    }

    #mobile {
        display: flex;
    }
}

/* Page 2 changes */
#ticker {
    position: relative;
    z-index: 2;
    border: 0;
    left: 315px;
    bottom: 80px;

}

/* Used to test where the user clicked*/
#matchClick {
    position: relative;
    top: 335px;
    left: 40px;
    width: 225px;
    height: 65px;
    z-index: 6;
}

/* Made to be moveable later */
#inside {
    position: relative;
    top: 260px;
    left: 46px;
}

#outside {
    position: relative;
    z-index: 5;
    left: 40px;
}

/* Page 3 changes */
/* Safe needs to be behind all */
#safe {
    position: relative;
    z-index: -1;
    bottom: 800px;
}

/* Lid must be in front of all excluding buttons */
#safeLid {
    position: relative;
    z-index: 7;
    bottom: 382px;
    left: 30px;

}

/* Button div is relative, but buttons are absolute and not dependant on eachother */
#screwButtons {
    position: relative;
    z-index: 8;
    bottom: 870px;
}

#screwButtons button {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: dimgray;
    border: none;
    border-radius: 9px;
}

/* Setting the specific position of all the screws */
#screw1 {
    bottom: 300px;
    left: 45px;
}

#screw2 {
    bottom: 300px;
    left: 230px;
}

#screw3 {
    left: 45px;
}

#screw4 {
    left: 230px;
}

/* Switch Buttons for bomb */
/* Setting the area to work in */
#switchButtons {
    position: relative;
    left: 396px;
    top: 15px;
    width: 200px;
    height: 100px;

    display: flex;
    justify-content: space-around;
    align-items: flex-end;

}

/* setting up the buttons to change colors */
.colorButtons {
    border: none;
    height: 20px;
    width: 40px;
    background-color: black;
    border-radius: 5px;

}

/* Color Changing screens */
.colorButtons div {
    position: relative;
    bottom: 85px;
    right: 6px;
    width: 40px;
    height: 40px;
    background-color: white;

}
/* Doc Page edit's */
#info{
    color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden;
    line-height: 1.9rem;
    margin-top: 5vh;
    width: 90vw;
    height: 85vh;
    background-color: #007EA7;
    border-radius: 10px;
    padding: 20px;
}

#hidden{
    overflow-y: scroll;
    width: 91vw;
    max-height: 100%;
    padding-right: 100px;

}

/* Change Link colors */
a:link{
    text-decoration: none;
    color: #F1D302;
}
a:visited {
    text-decoration: none;
    color: #F1D302;
  }

/* Double each header to make more visable */
#hidden h1, #hidden h2, #hidden h3{
    font-size: 2em;
}
#hidden img{
    margin-top: 8px;
    height: 15vh;
}

#hidden img:hover{
    height: 50vh;

}
@media screen and (max-width: 1100px) {
    #hidden img{
        max-width: 90vw;
    }
    
}