/*********************************
General Formatting (Do Not Change)
*********************************/

* {
    box-sizing: border-box;
}

html {
    /* sets base font size for rem sizing */
    font-size: 16px;
    font-family: Calibri, Helvetica, Arial, sans-serif;
}

html,
body {
    padding: 0;
    margin: 0;
}

header,
footer {
    background-color: #86af49;
}

nav,
aside,
article {
    padding: .5rem;
}

nav, aside {
    background-color: #b5e7a0;
}


/**************
Your Formatting
***************/
/* For Fun */
body{
    display: flex;
    justify-content: center;
}

/* Name Grid Sections */
header { grid-area: header; }
nav { grid-area: nav; }
article { grid-area: article; }
aside { grid-area: aside; }
footer { grid-area: footer; }


/* Desktop Grid Layout */
#wrapper{
    max-width: 1200px;
    width: 90vw;
    min-height: 100vh;

    display: grid;
    grid-template-areas:
    'header header header'
    'aside article nav'
    'footer footer footer';

    grid-template-columns: 1fr 2fr 200px;
    grid-template-rows: 4rem 1fr 3rem;
}

/* Css Formatting */
header, footer{
    display: flex;
    justify-content: center;
    align-content: center;
}

.menuitem {
    background-color: white;
    margin: 0;
    border-top: 1px solid #b5e7a0;
}

.submenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
}

.submenu li {
    padding-left: .25rem;
    background-color: lightgray;
}

/* Mobile Layout */
@media screen and (max-width: 568px) {
    #wrapper{
        width: 100vw;

    grid-template-areas:
    'header'
    'nav'
    'article'
    'aside'
    'footer';

    grid-template-columns: auto;
    grid-template-rows: auto;
    }

    
}

